<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <div class="container">
        <form method="POST">
            
            <div class="form-group">
                <label for="id">Идентификационный (<strong>уникальный</strong>) код для категории</label>
                <input type="text" class="form-control" required name="id" id="id" placeholder="Допустимы только латинские буквы без пробелов">
            </div>
            <div class="form-group">
                <label for="title">Название категории (например, "Групповые занятия")</label>
                <input type="text" class="form-control" required name="title" id="title" placeholder="Название категории">
            </div>  
            
            <div class="form-group">
                <label for="parentId">Родительская категория (менять не надо)</label>
                <select id="parentId" class="form-control"  name="parentId">
                    <% categories.forEach(cat => {    <!-- for all other categories -->
                        
                        const selected = cat.id == parent.id ? "selected" : null; %>
                        
                        <option value="<%= cat.id %>" <%=selected %>>
                            <%= cat.title || "root" %>
                        </option>
                    <% }); %>
            
                </select>
            </div>

            <div class="form-group">
                <label for="desciption">Краткое описание</label>
                <input type="text" class="form-control" required name="description" id="description" placeholder="category desciption">
            </div>
            
            <div class="form-group">
                <label for="widgetClass">CSS class</label>
                <input type="text" class="form-control" name="widgetClass" id="widgetClass" placeholder="css class">
            </div>  

            <div class="form-group">
                    <label for="widgetClass">Background color</label>
                    <input type="text" class="form-control" name="bgColor" id="bgColor" placeholder="bg color">
                </div>  
            
            <button type="submit" class="btn btn-primary">Сохранить</button>

        </form>
    </div>
</body>
