<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <!-- inputs: course, categories  TODO: requires age! -->
    <div class="container">
        <form method="POST">
            
            <div class="form-group">
                <label for="id">Идентификатор (<strong>уникальный</strong>) для курса. Может содержать только латинские буквы и цифры без пробелов</label>
                <input type="text" class="form-control" required name="id" id="id" placeholder="Напр., luboznateli1">
            </div>
            <div class="form-group">
                <label for="title">Название курса</label>
                <input type="text" class="form-control" required name="title" id="title" placeholder="Название курса">
            </div>  
            
            <div class="form-group">
                <label for="typeId">Категория курса</label>
                <select id="typeId" class="form-control" required name="typeId">
                    <% categories.forEach(cat => {    <!-- for all other categories -->
                        
                        const selected = cat.id == course.typeId ? "selected" : null; %>
                        
                        <option value="<%= cat.id %>" <%=selected %>>
                            <%= cat.title || "root" %>
                        </option>
                    <% }); %>
            
                </select>
            </div>

            <div class="form-group">
                <label for="desciption">Краткое описание курса</label>
                <input type="text" class="form-control" required name="description" 
                id="description" placeholder="Краткое описание курса">
            </div>
            
            <div class="form-group">
                <label for="widgetClass">Class for your new course</label>
                <input type="text" class="form-control" name="widgetClass" id="widgetClass" placeholder="css class">
            </div>  

            <div class="form-group">
                    <label for="widgetClass">Background color for your class</label>
                    <input type="text" class="form-control" name="bgColor" id="bgColor" placeholder="bg color">
            </div>  

            <div class="form-group">
                    <label for="contents">Подробное описание курса</label>
                    <textarea type="text" class="form-control" name="contents" id="contents" placeholder="contents"></textarea>
            </div>  
            
            <button type="submit" class="btn btn-primary">Сохранить</button>

        </form>
    </div>
</body>
