<ul class="list-inline">
    <% items.forEach(item => { %>
    <li class="list-inline-item categories-list-item">
        <%- include("category-tile", { item, actions }) %>
    </li>
    <% }); %>
</ul>