<ul class="list-inline">        
    <% courses.forEach(item => { %>
    
        <li class="list-inline-item">
            <%- include("course-tile", { item, actions }) %>
        </li>
    <% }) %>
</ul>