<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="aKS7F2u942gp0k-w3_44IQCVp-rKoD0KoHtH42bUNrA" />
<meta name="yandex-verification" content="134f89923654d067" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta content="http://neyronium.pro/images/neuronium-banner.png" property="og:image">
<title>Нейрониум. Центр развития интеллекта</title>
<meta name="description" content="детский психолог и логопед химки: подготовка к школе, диагностика"/>
  <meta name="keywords" content="детский,психолог,логопед,химки,подготовка к школе,диагностика"/>
  <meta property="og:site_name" content="центр развития интеллекта нейрониум" />
  <meta property="og:title" content="детский психолог и логопед химки: подготовка к школе, диагностика"/>
  <meta property="og:description" content="Детский, школьный психолог и логопед в Химках"/>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" 
    href="/stylesheets/style.css">
<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">