<!-- Навигация  -->
<!-- <nav class="navbar navbar-expand-sm bg-dark"> -->
        <ul class="nav " style="padding-left: 40px">
          <li class="nav-item" style="width: 110px;">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item" style="width: 110px;">
              <a class="nav-link" href="about">Обо мне</a>
          </li>
          <li class="nav-item" style="width: 110px;">
            <a class="nav-link" href="contacts">Контакты</a>
          </li>
          <li class="nav-item" style="width: 110px;">
            <a class="nav-link" href="blog">Блог</a>
          </li>
        </ul>
      <!-- </nav> -->