<!-- Навигация  -->
<!-- <nav class="navbar navbar-expand-sm bg-dark"> -->
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="about">
                    <span class="fa fa-address-card"></span>
                    Обо мне
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts">
                    <span class="fa fa-envelope"></span>
                    Контакты
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog">
                    <span class="fa fa-pencil"></span>
                    Блог
            </a>
          </li>
        </ul>
      <!-- </nav> -->