
<div class="row">
    
    <div class="col-md-3">
        <img src="/images/me.jpg" class="rounded neyronium-me neyronium-shadowed">
        
    </div>
    <div class="col-md-6">
        
        <h1><span class="h1">Обо мне</span></h1>

        <p>Я психолог, логопед-дефектолог.</p>
        <p>Закончила химический факультет с отличием. 3ачем? </p>
        <ul>
            <li>я научилась наблюдать, выделять детали, особенности;</li>
            <li>я научилась видеть организм как систему, в которой важен баланс (при изменении одного отдельног параметра меняется и состояние системы в целом!);</li>
            <li>я изучала физиологию и биохимию человека - это основа. </li>
            <li>я научилась исследовать природу отдельно взятого явления, задавать вопросы и искать ответы. </li>
            <li>я научилась искать взаимосвязи, причины и следствия. </li>
        </ul>
        
        <h1><span class="h1">
                Поле моей деятельности
        </span></h1>

        <ul>
            <li>Провожу полную психологическую диагностику развития ребенка и его речи;</li>
            <li>Разрабатываю индивидуальную программу развития ребенка на основе результатов диагностики, нейрофизиологии и нейропсихологии;</li>
            <li>Готовлю ребенка к школе: обучение грамоте и чтению, математике, подготовка руки к письму на основе развития восприятия, внимания, памяти и мышления; </li>
            <li>Помогаю преодолеть трудности в обучении в школе; </li>
            <li>Исправляю почерк (каллиграфия);</li>
            <li>Корректирую звукопроизношения; </li>
            <li>Помогаю адаптироваться ребенку в среде сверстников; </li>
            <li>Консультирую начинающих преподавателей по вопросам эффективного обучения детей с особенностями поведения.</li>
        </ul>

        <h1><span class="h1">Моя история</span></h1>
            
            <p>Дочке исполнилось три года. В детском саду мест на тот момент не было... Заведующая предложила работать воспитателем. Я согласилась. Так 1 сентября дочь пошла 
                знакомиться с друзьями в группе, ну а я отправилась работу! :) В ясли! </p>
            <p>Сначала было очень трудно. Дети разбегались в разные стороны, спать ложились на руках, разбрасывали игрушки... Я хотела сбежать через неделю... Но осталась. 
                И стала изучать, наблюдать, исследовать, задавать вопросы, пытаясь после найти верное решение. </p>
            <p>В детском саду становилось работать все интересней. Для начала меня интересовали методики раннего развития и способы организвции детей в группе. Я много читала, изучала и пробовала. 
    Со временем я заметила, что ко мне в группу стали приходить дети с трудностями в поведении, или с нарушениями речи, или с задержкой психического развития... И опять бесконечная череда из новых вопросов, наблюдений и исследований!
            </p>
            <p>Так я закончила магистратуру по направлению "дефектология", параллельно занимаясь обучением детей чтению, письму, математике. Проводила коррекционные занятия с детьми с нарушениями речи и задержкой психического развития. Я проводило собственные исследования под названиями "Почему одни дети обучаются быстрей других?", "Почему возникает агрессивное поведение?", "Почему нет мотивации к изменениям?". И... пришла к выводу, что развитие ребенка происходит в среде, в которой он растет. Так я получила образование клинического психолога. </p>
            <p>Позже работала в частном детскому саду "Белоснежка" и детском развивающем центре "Kids club welcome". Опыт работы более 12 лет. С 2014 года работала старшим преподавателем, разрабатывала и внедряла программы обучения детей разных возрастов с использованием авторских программ и методик.
    Консультировала преподавателей по вопросам эффективного обучения детей с особенностями поведения, развития.</p>
            <p>Сейчас я занимаюсь естественным развитием детей. "Естественное развитие" - это формирование среды, в которой ребенок будет 
                развиваться в соответствии со своей физиологией согласно сенситивным периодам.</p>
    

        <h1><span class="h1">
                Моя методика
        </span></h1>

        <p>Я имею выстроенную систему работы. Подбираю только те методики, которые основаны на научных данных и лично опробированы мной в ходе работы. 
Работаю четко по расписанию, оплата по факту проведенного занятия.</p>
        <p>Моя стратегия &ndash; эффективное использование каждой минуты урока! Время &ndash; самый драгоценный ресурс в нашей жизни, и я дорожу им!</p>
        <br>
        <p>Буду рада познакомиться с Вами и Вашим ребенком :-)</p>

        <br>

    </div>
    <div class="col-md-3"></div>
</div>

<a href="#" class="btn btn-primary" onclick="history.back(); return false">Назад</a>

    

