
<div class="row">
    
    <div class="col-md-3">
        <img src="/images/me.jpg" class="rounded neyronium-me neyronium-shadowed" style="margin:10px;" >
        
    </div>
    <div class="col-md-6">
        
        <h1><span class="h1">Обо мне</span></h1>        
        
        <p>Я психолог, логопед-дефектолог. </p>
        <ul class="list-unstyled neyronium-equal-height-list neyronium-left-border-list">
            <li style="border-left-color: red;"><span>Провожу полную психологическую диагностику развития ребенка и его речи </span></li>
            <li style="border-color: green;"><span>Разрабатываю индивидуальную программу развития ребенка на основе результатов диагностики, нейрофизиологии и нейропсихологии</li>
            <li style="border-color: blueviolet;"><span>Готовлю ребенка к школе: обучение грамоте и чтению, математике, подготовка руки к письму на основе развития восприятия, внимания, памяти и мышления </li>  
            <li style="border-color: goldenrod"><span>Помогаю преодолеть трудности в обучении в школе, исправить почерк (каллиграфия)</li>
            <li style="border-color: brown"><span>Корректирую звукопроизношения </li>
            <li style="border-color: skyblue;"><span>Помогаю ребенку адаптироваться в среде сверстников</li>
            <li style="border-color: burlywood;"><span>Консультирую начинающих преподавателей по вопросам эффективного обучения детей с особенностями поведения</li>
        </ul>        
        
        <p><span style="border-bottom:1px solid green;">Работала</span>
            в частном детском саду "Белоснежка" и детском развивающем центре "Kids club welcome". Опыт работы более 12 лет. </p>
        <p>С 2014 года работала старшим преподавателем, разрабатывала и внедряла программы обучения детей разных возрастов с использованием авторских программ и методик.
        </p>
        <p>
            Консультировала преподавателей по вопросам эффективного обучения детей с особенностями поведения, развития.
        </p>
        <p><span style="border-bottom:1px solid goldenrod;">
        Ценю</span> каждую минуту урока, использую ее эффективно. Имею выстроенную систему работы. Подбираю только те методики, которые основаны на научных данных и лично опробированы мной в ходе работы. 
        </p>
        <p>Работаю четко по расписанию, оплата по факту проведенного занятия.</p>
        <p>Буду <span style="border-bottom:1px solid red;">
             рада</span> познакомиться с Bами и Bашим ребенком :)
        </p>

        <button class="btn btn-primary" onclick="history.back()">Назад</button>
    </div>
    <div class="col-md-3"></div>
</div>

    

