
<div class="alert alert-success" style="max-width: 300; margin: auto; ">
                    <img src="/images/male_child.png" width="230" class="rounded neyronium-shadowed" style="margin: 5px auto 5px auto">
                    <h1>Ваша заявка отправлена</h1> 
            <p>Мы обязательно свяжемся с Вами в самое ближайшее время. </p>
            <a href="/" class="btn btn-sm btn-primary">К выбору курсов</a>
        </div>       
    