<form action="" method="POST" >
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" class="form-control" required id="name" name="name" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" required id="email" name="email" 
                onchange="toggleRequired(this, 'phone')" placeholder="Адрес электронной почты">
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="tel" class="form-control" required 
                    id="phone" name="phone" onchange="toggleRequired(this, 'email')" placeholder="+7 123 123 12 12">
            </div>

            <% if (course.ageRequired) { %>
            <div class="form-group">
                <label for="age">Возраст ребенка</label>
                <input type="number" class="form-control" required id="age" name="age" placeholder="Возраст ребенка (лет)">
            </div>
            <% } %>
            
            <div class="form-group">
                <label for="comment">Дополнительно</label>
                <textarea class="form-control" id="comment" name="comment" placeholder="Дополнительная информация, пожелания или комментарии"></textarea>
            </div>
            <p>Я свяжусь с Вами по указанному адресу электронной почты или номеру телефона.</p>
            <button type="submit" class="btn btn-primary" id="submit">Отправить</button>
        </form>
