<!DOCTYPE html>
<html>
<head>
    <%- include("partials/head") %>
</head>
<body class="happy-children">        

    <%- include("partials/nav") %>

    <%- include("partials/index/jumbotron", 
                { title: "Нейрониум", subTitle: "Центр развития интеллекта" }) %>
        

    <div class="container" >
        
        <h1>Блог</h1>
        <p>Это нужно написать ...</p>
        <button class="btn btn-primary" onclick="history.back()">Назад</button>
        </div>
    </div>
</body>
</html>