<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body>        
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="neyronium-header">
        <% include partials/nav %>

        <div class="mobile-only " style="position: absolute; 
        top: 18px;
        left: 100px;
        
        color: white;
">
                <div class="row">
            <div style="font-size:14px; " class="col-7">
                    <a href="tel:+79160884611">8&nbsp;916&nbsp;088&nbsp;46&nbsp;11</a>
            </div>
            <div style="font-size:12px;" class="col-5">
                        
                        <i class="fa fa-twitter" 
                                style="color:white; cursor: pointer;"
                                        onclick="
                                        javascript:window.open('https://twitter.com/share?text='+encodeURIComponent('Центр развития интеллекта')+'&amp;url='+encodeURIComponent('http://www.neyronium.pro'),'Twitter-dialog','width=626,height=436'); return false;">
    
                        </i>
                        
                        <i class="vk_share_button" 
                                style="color:white;">    
                        </i>
                        
                        <i class="fa fa-facebook" style="color: white; cursor: pointer;" 
                        onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.neyronium.pro'),'facebook-share-dialog','width=626,height=436'); return false;"></i>
                        </i>
            </div>
        </div>
        </div>





</div>

    </div>
    
    <%- include("partials/index/jumbotron")%>
    
    <div class="main-content">
        <%- body %>
    </div>
    
    <div class="neyronium-footer">
        
        <strong>Нейрониум</strong>&nbsp;|&nbsp;Центр развития интеллекта<br>
        <span><a href="tel:+79160884611">8&nbsp;916&nbsp;088&nbsp;46&nbsp;11</a>|<a href="mailto:neyronium@gmail.ru">neyronium@gmail.ru</a></span>    
    </div>
</body>
</html>