<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>        
        
        <script type="application/ld+json">
        {
                "@context": "http://schema.org",
                "@type": "Organization",
                "url": "http://www.neyronium.pro",
                "logo": "http://www.neyronium.pro/images/male_child.png"
        }
        </script>
            

        <div class="neyronium-header">
            
            <% include partials/nav %>

            <% include partials/layout/header-contacts-mobile %>
            
        </div>

        <div class="main-content">

            <!-- "humble" header -->
            <% if (!options.homePage) { %>
                
                <% include partials/layout/humble-header %>

            <% } %>

            <%- body %>
        
        </div>
        
        <% include partials/layout/footer %>

        <% include partials/layout/socialmedia %>
        
        <% include partials/layout/googleanalytics %>
           
    </body>
</html>