<!--
<div class="mobile-only " style="position: absolute; 
top: 18px;
left: 100px;

color: white;
">
        <div class="row">
    <div style="font-size:14px; ">
            <a href="tel:<%= me.phone.link %>">
                <%= me.phone.display %>
            </a>
    </div>
    
    
    <div style="font-size:12px;" class="col-5">
                
                <i class="fa fa-twitter" 
                        style="color:white; cursor: pointer;"
                                onclick="
                                javascript:window.open('https://twitter.com/share?text='+encodeURIComponent('Центр развития интеллекта')+'&amp;url='+encodeURIComponent('http://www.neyronium.pro'),'Twitter-dialog','width=626,height=436'); return false;">

                </i>
                
                <i class="vk_share_button" 
                        style="color:white;">    
                </i>
                
                <i class="fa fa-facebook" style="color: white; cursor: pointer;" 
                onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.neyronium.pro'),'facebook-share-dialog','width=626,height=436'); return false;"></i>
                </i>
    </div> 
</div>
</div>
-->

