<div>
    <img src="/images/brand.svg" width="41" class="neyronium-brand">
    <div class="neyronium-title">
        <%= me.companyName %>
    </div>
    <div class="neyronium-subtitle">
        <%= me.companyDescription %>
    </div>
</div>