body {
  background-color: #FFFFFF;
  font-family: Roboto;
}

.neyronium-header {
  z-index: 1000;
  width: 100%;
  background: #808EDA;
}

.neyronium-navbar {
  color: white !important;
  background: #808EDA !important;
  font-family: Roboto !important;
  font-style: regular;
}

.neyronium-header a {
  color: white !important;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
}

.neyronium-brand {
  float: left;
  width: 71px;
  height: 71px;
  margin-left: 46px;
  margin-top: 10px;
  border-radius: 100px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
}

.neyronium-banner {
    
  width: 100%;
  min-height: 70px;
  max-height: 565px;
  
  border-radius: 4px;
  background-color: #FFFFFF;
  background-image: url(/images/neuronium-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
}

.neyronium-contacts {
  padding-right: 40px; 
  text-align: right;  
}

.neyronium-title {
  
  width: 161px;
  height: 36px;
  margin-left: 130px;
  margin-top: 20px;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
  color: #41485D;
}

.neyronium-subtitle {
  
width: 180px;
height: 17px;
margin-left: 130px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 14px;

  color: #676D7D;
}

.main-content {
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (max-width: 600px) {
  
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .neyronium-contacts {
    font-size: smaller !important;
  }
  .neyronium-subtitle {
    font-size: 12px; 
  }
  
  li.categories-list-item {
    width: 100%;
    display: block;
  }

  .neyronium-card {
    width: 100%;
    margin: 0 auto 20px auto;
  }
}

@media only screen and (max-width:  600px) {
  
  .neyronium-banner {
    max-height: 200px;
    margin-top: 20xp;
  }

  .neyronium-card {
    width: 18rem;
    margin: 0 auto 20px auto;
  }

  .neyronium-contacts {
    display: inline;
    position: fixed;
    top: 4px;
    left: 150px;
  }
  
}

@media only screen and (min-width:  600px) {
  .neyronium-banner {
    height: 265px;
  }
  .neyronium-card {
    width: 18rem;
    margin: 0 auto 20px auto;
  }
  
}

@media only screen and (min-width:  900px) {
  .mobile-only {
    display: none;
  }

  .non-mobile-only {
    display: block;
  }
}

@media only screen and (max-width:  900px) {
  .mobile-only {
    display: block;
  }
  .non-mobile-only {
    display: none;
  }
}

@media only screen and (min-width:  900px) {
  .neyronium-banner {
    height: 265px;
  }
}

@media only screen and (min-width:  1100px) {
  .neyronium-banner {
    height: 565px;
  }
}

h1 {
  margin-bottom: 39px;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  
  line-height: normal;
  font-size: 20px;
  padding-bottom: 13px;
  /*color: #7083E5;*/
  color: #41485D;  
  border-bottom: 5px solid #808EDA;
  
}

p {
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #41485D;
  
}

.neyronium-card {
  border-radius: 4px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05), 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-left: 14px solid  #2D9CDB;
  margin: 0 auto  20px auto;
}

.card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 22px;

  color: #2D9CDB;
}

.card-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;

  color: #676D7D;
}

.card-primary-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 13px;
  text-align: center;

  color: #FFFFFF;
}
.aside a {
  color: #7083E5;
}
.aside p {
  font-size: 14px;
  line-height: 1.2;

}

.neyronium-footer {

  margin-top: 8px;
  height: 35px;
  background: #676D7D; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding-top: 5px;
  padding-left: 40px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
}

.btn-primary {
  background-color: #808EDA;
}
.neyronium-footer a {
  color: white;
  font-family: Roboto;
  font-size: 14px;
}
