body {
  background-color: #FFFFFF;
  font-family: Roboto;
}

.neyronium-header {
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0px;
  top: 0px;
  background: #808EDA;

  font-family: Roboto;
  font-style: regular;
  
  
}

.neyronium-header a {
  color: white;
  font-family: Roboto;
  font-size: 14px;
}

.neyronium-brand {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 46px;
  top: 67px;
  border-radius: 100px;
}

.neyronium-title {
  position: absolute;
  width: 161px;
  height: 36px;
  left: 139px;
  top: 73px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
  
  color: #41485D;
}

.neyronium-subtitle {
  position: absolute;
width: 180px;
height: 17px;
left: 140px;
top: 113px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 14px;

  color: #676D7D;
}

.main-content {
  position:absolute; 
  top: 480px; 
  padding-left: 40px;
  padding-right: 40px;
}

@media only screen and (max-width: 600px) {
  .main-content { top: 50%; }

  .neyronium-banner {
    position: absolute;
    width: 100%;
    height: 21%;
    
    top: 180px;
    border-radius: 4px;
    background-color: #E3E3E3;
    background-image: url(/images/neuronium-banner.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  
  }
}

@media only screen and (min-width:  600px) {
  .neyronium-banner {
    position: absolute;
    width: 100%;
    height: 265px;
    
    top: 180px;
    border-radius: 4px;
    background-color: #FFFFFF;
    background-image: url(/images/neuronium-banner.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  
  }
}


h1 {
  margin-bottom: 39px;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  padding-bottom: 13px;
  color: #7083E5;
  
  border-bottom: 5px solid #808EDA;
  
}

p {
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #41485D;
  
}

.neyronium-card {
  border-radius: 4px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05), 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-left: 4px solid  #2D9CDB;
}

.card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 22px;

  color: #2D9CDB;
}

.card-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;

  color: #676D7D;
}

.card-primary-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 13px;
  text-align: center;

  color: #FFFFFF;
}
.aside a {
  color: #7083E5;
}
.aside p {
  font-size: 14px;
}

.neyronium-footer {
  background: #676D7D; 
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
.btn-primary {
  background-color: #808EDA;
}
.neyronium-footer a {
  color: white;
  font-family: Roboto;
  font-size: 14px;
}
