<table>
    <tr>
        <td>
                <i class="fa fa-mobile"></i>
        </td>
        <td>
                <a href="tel:+79160884611">8-916-088-46-11</a>
        </td>
    </tr>
    <tr>
        <td>
                <i class="fab fa-viber" style="color: #8f5db7" title="Viber"></i>
        </td>
        <td>
                <a href="tel:+79160884611">8-916-088-46-11</a>
        </td>
    </tr>
    <tr>
        <td>
                <i class="fab fa-whatsapp" style="color: #25d366" title="WhatsApp"></i>
        
        
        </td>
        <td>
                <a href="tel:+79160884611">8-916-088-46-11</a>
        </td>
    </tr>
    <tr>
        <td>
                <i class="fab fa-telegram" style="color: #0088cc" title="Telegram"></i>    
        </td>
        <td>
                <a href="tel:+79160884611">8-916-088-46-11</a>
        </td>
    </tr>
    <tr>
        <td>
                <i class="fa fa-facebook" style="color: #3b5998"></i>
        </td>
        <td><a href="https://www.facebook.com/groups/1253985258031741">группа Facebook</i></a></td>
    </tr>
    <tr>
        <td>
                <i class="fa fa-vk" style="color: #45668e;"></i>
        </td>
        <td>
                <a href="https://vk.com/neyronium">группа Вконтакте</i></a>    
        </td>
    </tr>
    
    <tr>
        <td>
                <i class="fa fa-envelope" style="color: #2D9CDB;"></i>
        </td>
        
        <td>
                <a href="mailto:neyronium@gmail.ru">neyronium@gmail.ru</a>
        </td>
    </tr>
</table>

<br>

