<ul>
        <li>Подготовка к школе от 4 до 8 лет (чтение, математика, подготовка руки к письму, развитие логоки, памяти, внимания, коммуникативных навыков);</li>
        <li>Логопедические занятия (индивидуальные и групповые);</li>
        <li>Развивающие коррекционные занятия (задержка психического развития, умственная отсталость, аутизм);</li>
        <li>Консультации для родителей и педагогов.</li>
</ul>