
<div class="row">
    <div class="col-sm-8">
        <img src="/images/brand.svg" class="neyronium-brand">
        <div class="neyronium-title">
    Нейрониум
</div>
<div class="neyronium-subtitle">
    Центр развития интеллекта
</div>
    </div>
    <div class="col-sm-4">
        <div class="non-mobile-only">
        <ul class="list-unstyled neyronium-contacts non-mobile-only" >
            <li style="font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 18px;
            margin-top: 20px; 
            color: #41485D;">
            <i class="fa fa-mobile"></i>
            <i class="fab fa-viber" style="color: #8f5db7" title="Viber"></i>
            <i class="fab fa-whatsapp" style="color: #25d366" title="WhatsApp"></i>
            <i class="fab fa-telegram" style="color: #0088cc" title="Telegram"></i>
    
            <a href="tel:+79160884611" style="color: #41485D;">8-916-088-46-11</a>
            </li>
            <li>
                    <a href="mailto:info@neyronium.pro"
                    style="font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 14px;
                    
                    color: #808EDA;"
                    >
                            info@neyronium.pro
                    </a>
            </li>
            <li>
                <ul class="list-inline">
                    <li class="list-inline-item">
                            <span class="fa fa-twitter" style="color: #1da1f2; width: 20px; cursor: pointer;"
                                    onclick="
                                    javascript:window.open('https://twitter.com/share?text='+encodeURIComponent('Центр развития интеллекта')+'&amp;url='+encodeURIComponent('http://www.neyronium.pro'),'Twitter-dialog','width=626,height=436'); return false;"
                                    title="поделиться"
                                    >

                            </span>
                    </li>
                    <li class="list-inline-item">
                            <div class="vk_share_button" style="margin-top: 10px;" title="поделиться"></div>    
                    </li>
                    <li class="list-inline-item">
                            <!-- <div class="fb-share-button" data-href="http://www.neyronium.pro" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.neyronium.pro%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">поделиться</a></div> -->
                            <i class="fa fa-facebook" style="color: #3b5998; cursor: pointer;" 
                            onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.neyronium.pro'),'facebook-share-dialog','width=626,height=436'); return false;"
                            title="поделиться"
                            ></i>
                            
                    </li>
                </ul>
                    
            </li>
        </ul>
    </div>
    </div>
</div>


<script>
    $('.vk_share_button').each((index, el) => {
        el.innerHTML = VK.Share.button(
        'http://www.neyronium.pro', {
            type: 'custom', 
            image: 'http://neyronium.pro/images/neuronium-banner.png',
            text: '<i class="fa fa-vk"></i>'}); 
    });
    
    
    
</script>
    