<div class="mobile-only" style="position: fixed;
top: 8px;
left: 0px;
width: 100%;
color: white;
">
<div class="row" style="text-align: right">
        <div class="col-8">
                <div style="font-size:12px;">
                        <a>info@neyronium.pro</a>
                </div>    
            <div style="font-size:14px;">
                        +7 800 800 80 80
                </div>
                
        </div>
        <div class="col-4" style="text-align:left;">

                <ul class="list-inline" style="font-size:18px;">
                        <li class="list-inline-item">
                                <span class="fa fa-twitter" 
                                style="color:white; width: 20px; cursor: pointer;"
                                        onclick="
                                        javascript:window.open('https://twitter.com/share?text='+encodeURIComponent('Центр развития интеллекта')+'&amp;url='+encodeURIComponent('http://www.neyronium.pro'),'Twitter-dialog','width=626,height=436'); return false;">
    
                                </span>
                        </li>
                        <li class="list-inline-item">
                                <div class="vk_share_button" 
                                style="margin-top: 7px; color:white;"></div>    
                        </li>
                        <li class="list-inline-item">
                                <!-- <div class="fb-share-button" data-href="http://www.neyronium.pro" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.neyronium.pro%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">поделиться</a></div> -->
                                <i class="fa fa-facebook" style="color: white; cursor: pointer;" 
                                onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.neyronium.pro'),'facebook-share-dialog','width=626,height=436'); return false;"></i>
                                
                        </li>
                    </ul>



        </div>
</div>


</div>
<div class="row">
    <div class="col-sm-8">
        <img src="/images/brand.svg" class="neyronium-brand">
        <div class="neyronium-title">
    Нейрониум
</div>
<div class="neyronium-subtitle">
    Центр развития интеллекта
</div>
    </div>
    <div class="col-sm-4">
        <ul class="list-unstyled neyronium-contacts non-mobile-only" >
            <li style="font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 18px;
            margin-top: 20px; 
            color: #41485D;">
                    +8 800 800 80 80
            </li>
            <li>
                    <a href="mailto:info@neyronium.pro"
                    style="font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 14px;
                    
                    color: #808EDA;"
                    >
                            info@neyronium.pro
                    </a>
            </li>
            <li>
                <ul class="list-inline">
                    <li class="list-inline-item">
                            <span class="fa fa-twitter" style="color: #1da1f2; width: 20px; cursor: pointer;"
                                    onclick="
                                    javascript:window.open('https://twitter.com/share?text='+encodeURIComponent('Центр развития интеллекта')+'&amp;url='+encodeURIComponent('http://www.neyronium.pro'),'Twitter-dialog','width=626,height=436'); return false;">

                            </span>
                    </li>
                    <li class="list-inline-item">
                            <div class="vk_share_button" style="margin-top: 10px;"></div>    
                    </li>
                    <li class="list-inline-item">
                            <!-- <div class="fb-share-button" data-href="http://www.neyronium.pro" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.neyronium.pro%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">поделиться</a></div> -->
                            <i class="fa fa-facebook" style="color: #3b5998; cursor: pointer;" 
                            onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.neyronium.pro'),'facebook-share-dialog','width=626,height=436'); return false;"></i>
                            
                    </li>
                </ul>
                    
            </li>
        </ul>
        
    </div>
</div>


<script>
    $('.vk_share_button').each((index, el) => {
        el.innerHTML = VK.Share.button(
        'http://www.neyronium.pro', {
            type: 'custom', 
            image: 'http://neyronium.pro/images/neuronium-banner.png',
            text: '<i class="fa fa-vk"></i>'}); 
    });
    
    
    
</script>
    