<div class="jumbotron jumbotron-fluid" style="opacity: 0.5;"></div>

<div class="container" style="position: relative; top: -10em;">   
    <h2 class="display-2gi"><%= title %></h1>
    <p class="lead"><%= subTitle %></p>
</div>
    
    