<div class="row">
    <div class="col-md-9">
        <img src="/images/brand.svg" class="neyronium-brand">
        <div class="neyronium-title">
    Нейрониум
</div>
<div class="neyronium-subtitle">
    Центр развития интеллекта
</div>
    </div>
    <div class="col-md-3">
        <ul class="list-unstyled" style="margin-top: 20px; margin-left: 50px;">
            <li style="font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 20px;
            
            color: #41485D;">
                    +8 800 800 80 80
            </li>
            <li>
                    <a href="mailto:info@neyronium.pro"
                    style="font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 14px;
                    
                    color: #808EDA;"
                    >
                            info@neyronium.pro
                    </a>
            </li>
            <li>
                    <span class="fa fa-instagram" style="color: red; width: 20px;"></span>
                    <span class="fa fa-vk" style="color: #4c75a3;  width: 20px;"></span>
                    <span class="fa fa-facebook" style="color: #3B5998;"></span>
                    
                    
                    
            </li>
        </ul>
        
    </div>
</div>


    
    